CLEAN DATA
The following demonstrates how the backblaze data sheets were cleaned before running any ML algorithms.

In [49]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder


### start program here

hdd_train = pd.read_csv('../input/harddrive.csv') #,nrows=50
hdd_test = pd.read_csv('../input/2016_jj.csv')

# merging of the test files resulted in multiple headers in the file -- remove them
hdd_test = hdd_test[hdd_test.smart_5_raw != 'smart_5_raw']
#print ("Number of test rows are {}".format(len(hdd_test.index)))

# removed normalized values, and model, and capacity, since they are constants
hdd_train = hdd_train.select(lambda x: x[-10:] != 'normalized', axis=1)
hdd_test = hdd_test.select(lambda x: x[-10:] != 'normalized', axis=1)

# found only in training file
hdd_train.drop(['smart_201_raw', 'smart_13_raw'], inplace=True, axis=1)

columns_to_drop =['date', 'capacity_bytes']  # new
hdd_train.drop(columns_to_drop, inplace=True, axis=1)
hdd_test.drop(columns_to_drop, inplace=True, axis=1)

# drop constant columns
hdd_train = hdd_train.loc[:, ~hdd_train.isnull().all()]
hdd_test = hdd_test.loc[:, ~hdd_test.isnull().all()]

In [50]:
hdd_train.columns

Index([u'serial_number', u'model', u'failure', u'smart_1_raw', u'smart_2_raw',
       u'smart_3_raw', u'smart_4_raw', u'smart_5_raw', u'smart_7_raw',
       u'smart_8_raw', u'smart_9_raw', u'smart_10_raw', u'smart_11_raw',
       u'smart_12_raw', u'smart_22_raw', u'smart_183_raw', u'smart_184_raw',
       u'smart_187_raw', u'smart_188_raw', u'smart_189_raw', u'smart_190_raw',
       u'smart_191_raw', u'smart_192_raw', u'smart_193_raw', u'smart_194_raw',
       u'smart_195_raw', u'smart_196_raw', u'smart_197_raw', u'smart_198_raw',
       u'smart_199_raw', u'smart_200_raw', u'smart_220_raw', u'smart_222_raw',
       u'smart_223_raw', u'smart_224_raw', u'smart_225_raw', u'smart_226_raw',
       u'smart_240_raw', u'smart_241_raw', u'smart_242_raw', u'smart_250_raw',
       u'smart_251_raw', u'smart_252_raw', u'smart_254_raw'],
      dtype='object')

In [51]:
hdd_train.shape

(3179295, 44)

In [52]:
hdd_test.columns

Index([u'serial_number', u'model', u'failure', u'smart_1_raw', u'smart_2_raw',
       u'smart_3_raw', u'smart_4_raw', u'smart_5_raw', u'smart_7_raw',
       u'smart_8_raw', u'smart_9_raw', u'smart_10_raw', u'smart_11_raw',
       u'smart_12_raw', u'smart_22_raw', u'smart_183_raw', u'smart_184_raw',
       u'smart_187_raw', u'smart_188_raw', u'smart_189_raw', u'smart_190_raw',
       u'smart_191_raw', u'smart_192_raw', u'smart_193_raw', u'smart_194_raw',
       u'smart_195_raw', u'smart_196_raw', u'smart_197_raw', u'smart_198_raw',
       u'smart_199_raw', u'smart_200_raw', u'smart_220_raw', u'smart_222_raw',
       u'smart_223_raw', u'smart_224_raw', u'smart_225_raw', u'smart_226_raw',
       u'smart_240_raw', u'smart_241_raw', u'smart_242_raw', u'smart_250_raw',
       u'smart_251_raw', u'smart_252_raw', u'smart_254_raw'],
      dtype='object')

In [53]:
hdd_test.shape

(4055844, 44)

In [54]:
# save the clean, new files
hdd_train.to_csv('../input/clean_train_data.csv', index=False)
hdd_test.to_csv('../input/clean_test_data.csv', index=False)

For some testing, and also later in the code, the strings for model and serial number will need to be addressed.

In [55]:
# remove strings from dataset
#columns_to_drop =['serial_number','model']
#hdd_train.drop(columns_to_drop, inplace=True, axis=1)
#hdd_train.fillna(-1, inplace=True)
#hdd_train = hdd_train.astype(np.float).fillna(-1.0)

#hdd_train.to_csv('../input/clean_train_data_nostr.csv', index=False)

In [56]:
hdd_train.head()

,serial_number,model,failure,smart_1_raw,smart_2_raw,smart_3_raw,smart_4_raw,smart_5_raw,smart_7_raw,smart_8_raw,...,smart_224_raw,smart_225_raw,smart_226_raw,smart_240_raw,smart_241_raw,smart_242_raw,smart_250_raw,smart_251_raw,smart_252_raw,smart_254_raw
0,MJ0351YNG9Z0XA,Hitachi HDS5C3030ALA630,0,0,108,540,14,0,0.000000e+00,37,...,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN
1,Z305B2QN,ST4000DM000,0,54551400,NaN,0,4,0,1.279800e-317,NaN,...,NaN,NaN,NaN,1.319155e-321,3.467963e-315,1.316882e-315,NaN,NaN,NaN,NaN
2,MJ0351YNG9Z7LA,Hitachi HDS5C3030ALA630,0,0,104,566,19,0,0.000000e+00,37,...,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN
3,MJ0351YNGABYAA,Hitachi HDS5C3030ALA630,0,0,104,507,15,0,0.000000e+00,37,...,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN
4,WD-WMC4N2899475,WDC WD30EFRX,0,0,NaN,6250,10,0,0.000000e+00,NaN,...,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN

## New
Using the same datafile, I want to create a file of only the failed hard drives using only the following SMART parameters:

SMART ID 5 (0x05): Relocated Sectors Count
SMART ID 187 (0xBB): Reported Uncorrectable Errors
SMART ID 188 (0xBC): Command Timeout
SMART ID 197 (0xC5): Current Pending Sector Count
SMART ID 198 (0xC6): Uncorrectable Sector Count

In [57]:
columns_to_use = ['serial_number', 'failure', 'smart_5_raw', 'smart_187_raw', 'smart_188_raw', 'smart_197_raw', 'smart_198_raw'
                 ]
# select specific model, since vendors differ on how SMART values are used
hdd = hdd_train.query('model == "ST4000DM000"')
hdd.shape

(1681473, 44)

In [58]:
hdd.head()

,serial_number,model,failure,smart_1_raw,smart_2_raw,smart_3_raw,smart_4_raw,smart_5_raw,smart_7_raw,smart_8_raw,...,smart_224_raw,smart_225_raw,smart_226_raw,smart_240_raw,smart_241_raw,smart_242_raw,smart_250_raw,smart_251_raw,smart_252_raw,smart_254_raw
1,Z305B2QN,ST4000DM000,0,54551400,NaN,0,4,0,1.279800e-317,NaN,...,NaN,NaN,NaN,1.319155e-321,3.467963e-315,1.316882e-315,NaN,NaN,NaN,NaN
7,S300Z6K9,ST4000DM000,0,13985080,NaN,0,3,0,1.017278e-315,NaN,...,NaN,NaN,NaN,2.656097e-320,1.123662e-313,1.761059e-314,NaN,NaN,NaN,NaN
8,S300Z6K8,ST4000DM000,0,109242152,NaN,0,3,0,7.266557e-316,NaN,...,NaN,NaN,NaN,1.830019e-320,9.029058e-314,2.551732e-314,NaN,NaN,NaN,NaN
9,Z302PGH8,ST4000DM000,0,46112000,NaN,0,16,0,1.488203e-315,NaN,...,NaN,NaN,NaN,2.533569e-320,5.856105e-314,2.356922e-313,NaN,NaN,NaN,NaN
10,Z3023VGH,ST4000DM000,0,117245752,NaN,0,7,0,2.371728e-314,NaN,...,NaN,NaN,NaN,5.188677e-320,8.240600e-314,6.064623e-313,NaN,NaN,NaN,NaN

In [59]:
hdd = hdd[columns_to_use]

# labelEnconde the serial_number
lbl = LabelEncoder()
lbl.fit(list(hdd['serial_number'].values))
hdd['serial_number'] = lbl.transform(list(hdd['serial_number'].values))
hdd.to_csv('../input/ST4000DM000_clean_SMART_harddrive.csv', index=False)
hdd.head()

,serial_number,failure,smart_5_raw,smart_187_raw,smart_188_raw,smart_197_raw,smart_198_raw
1,30154,0,0,0,0,0,0
7,2976,0,0,0,0,0,0
8,2975,0,0,0,0,0,0
9,21345,0,0,0,0,0,0
10,16688,0,0,0,0,0,0

In [60]:
hdd_fails_df = hdd[hdd.failure != 0]
hdd_fails_df.shape

(139, 7)

In [61]:
hdd_fails_df.head()

,serial_number,failure,smart_5_raw,smart_187_raw,smart_188_raw,smart_197_raw,smart_198_raw
31847,10311,1,0,0,4.940656e-324,40,40
37041,15562,1,0,0,4.940656e-324,56,56
46720,6557,1,0,0,2.470328e-323,0,0
89392,10311,1,0,0,4.940656e-324,40,40
94586,15562,1,0,0,4.940656e-324,56,56

In [62]:
hdd_fails_df = hdd_fails_df.drop_duplicates(['serial_number'], keep=False)

In [63]:
hdd_fails_df.to_csv('../input/failed_hdd_from_harddrive.csv', index=False)